* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  background-color: #f5f8fa;
}

a {
  color: #3097d1;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.container::after,
.row::after,
.containt::after{
  display: table;
  clear: both;
  content: "";
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 30px;
}

.col-3 {
  float: left;
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.col-6 {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

@media(max-width: 1200px) {
  .container{
    width:960px;
  }
}

@media (max-width: 960px) {
  .container{
    width:720px;
  }
}

@media (max-width: 720px) {
  .container{
    width:320px;
  }
  .col-3,
  .col-6{
    width:100%;
  }
}

header {
  nav {
    background-color: #3097d1;
    color: #ffffff;
    .logo {
      float: left;
      margin-top: 18px;
      margin-right: 30px;
      img {
        width: 85px;
        height: 23px;
        display: block;
      }
    }
    ul {
      float: left;
    }
    ul::after {
      display: table;
      clear: both;
      content: "";
    }
    li {
      list-style: none;
      float: left;
      a {
        padding: 20px 15px;
        text-decoration: none;
        color: #ffffff;
        display: block;
        &.active,
        &:hover {
          background-color: #2579a8;
        }
      }
    }
  }
}

@media (max-width: 720px) {
  header nav .logo{
    float: none;
    margin: 0;
    padding: 15px;
    display:block;
    text-align: center;
    img{
      display: inline-block;
    }
  }
}

//用户区域的样式
.user {
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
  .user-header {
    background: url("../img/iceland.jpg");
    background-size: cover;
    height: 150px;
  }
  .user-content {
    text-align: center;
    margin-top: -50px;
    padding-left: 15px;
    padding-right: 15px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid #fff;
      margin-bottom: 5px;
    }
    h2 {
      font-size: 16px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      line-height: 1.5em;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1200px) {
  .user .user-header{
    height:120px;
  }
}

.about {
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
  padding: 15px;
  h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.photos {
  border: 1px solid #d3e0e9;
  padding: 15px;
  h3 {
    margin-bottom: 15px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
  .col-6 {
    padding-left: 5px;
    padding-right: 5px;
  }
  img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 720px) {
  .photos .col-6{
    width:50%;
  }
}

.content {
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
  section {
    padding: 15px;
    border-bottom: 1px solid #d3e0e9;
  }
  section:last-child {
    border-bottom: none;
  }
  .main {
    margin-bottom: 30px;
  }
  h3 {
  }
  span {
    float: right;
    color: #666;
  }
  .cont {
    .text {
      margin-bottom: 30px;
    }
    .pic {
      margin-left: -5px;
      margin-right: -5px;
      img {
        width: 50%;
        float: left;
        height: 200px;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
      }
    }
    .pic::after {
      display: table;
      clear: both;
      content: "";
    }
    .pic.oneImg {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .say {
    p {
      margin-bottom: 20px;
    }
  }
}

@media (max-width:1200px){
  .content .cont .pic img{
    height:150px;
  }
}

@media (max-width:720px){
  .content .cont .pic img{
    height:auto;
    width:100%;
  }
}

.sponsored {
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 30px;
  h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    display: inline-block;
    border: 1px solid #2a88bd;
    padding: 8px 10px;
    border-radius: 2px;
    &:hover {
      background-color: #2a88bd;
      color: #ffffff;
    }
  }
}

.likes{
  border: 1px solid #d3e0e9;
  border-radius: 2px;
  margin-bottom: 30px;
  background-color: #fff;
  .likes-user{
    padding: 15px;
    border-bottom:1px solid #d3e0e9;
  }
  .likes-user-icon{//likes部分的链接小图标 <i class="likes-user-icon">
    width: 14px;
    height: 12px;
    background-image: url("../img/user.png");
    display: inline-block;
  }
  .likes-text{
    padding: 15px;
    background-color: #f5f8fa;
  }
  h2 {
    font-size: 16px;
    margin-bottom: 20px;
  }
  li{
    list-style: none;
    position: relative;
    margin-bottom: 20px;
    div{
      margin-left:75px;
      padding-top:1px;
    }
    p{
      margin-bottom: 6px;
    }
    img{
      width: 60px;
      height: 60px;
      border-radius:50%;
      position: absolute;
    }
    a{
      display: inline-block;
      border:1px solid #2a88bd;
      border-radius: 2px;
      padding: 6px 10px;
      &:hover{
        background-color: #2a88bd;
        color: #fff;
        & .likes-user-icon{
          background-position:0 -12px;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  .likes li{
    div{
      margin-left: 65px;
    }
    a i{
      display: none;
    }
  }
}

@media (max-width: 720px) {
  .likes li{
    a i{
      display: inline-block;
    }
  }
}

footer{
  border-top: 1px solid #d3e0e9;
  padding-top:50px;
  padding-bottom: 50px;
  text-align: center;
  p{
    padding-bottom:20px;
  }
  li{
    display: inline-block;
    margin: 10px;
  }
  a:hover{
    text-decoration: underline;
  }
}

.banner{
  color: #fff;
  text-align: center;
  background: url("../img/iceland.jpg");
  height: 500px;
  img{
    height: 110px;
    width: 110px;
    border-radius: 500px;
    margin-top: 111px;
  }
  h2{
    margin-top: 10px;
  }
  p{
    width: 296px;
    margin: auto;
  }
}

.containt{
  width: 1200px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 76px;
  img{
    float: left;
    width: 253px;
    height: 254px;
    margin: 5px 5px 5px 5px;
  }
  img:nth-of-type(1),
  img:nth-of-type(7),
  img:nth-of-type(9),
  img:nth-of-type(15){
    width: 401px;
  }
}
.containt a:after{
  clear: both;
  content: "";
  display: table;
}
.containt a{
  display: block;
}

.D_banner{
  background: url("../img/docs-bg.jpg");
  height: 265px;
  color: #fff;
  h2{
    font-size: 36px;
    padding-top: 70px;
  }
  p{
    width: 750px;
    font-size: 18px;
    color: #add6ed;
  }
}
.container{
  .col-2{
    width:80%;
    float: left;
    h2{
      font-size: 30px;
      font-weight: 500;
      padding-bottom: 10px;
      border-bottom: 1px solid #d4dbe0;
    }
  }
  .col-4{
    width:20%;
    float: left;
    ul{
      margin-top: 40px;
      margin-left: 30px;
    }
    li{
      list-style: none;
      padding-left: 20px;
      line-height: 2em;
      &:hover{
        border-left: 2px solid #3097d1;
        color: #3097d1;
      }
    }
  }
  p{
    margin-bottom: 30px;
  }
  p:nth-of-type(1){
    font-size: 16px;
    margin-top: 28px;
  }
}
@media (max-width: 1200px) {
  .containt{
    width:960px;
  }
  .containt img:nth-of-type(1), .containt img:nth-of-type(15), .containt img:nth-of-type(7), .containt img:nth-of-type(9){
    width:315px;
    height: 205px;
  }
  .containt img{
    width: 201px;
    height: 205px;
  }
}

@media (max-width: 960px) {
  .containt{
    width:720px;
  }
  .containt img:nth-of-type(1), .containt img:nth-of-type(15), .containt img:nth-of-type(7), .containt img:nth-of-type(9){
    width:220px;
    height: 151px;
  }
  .containt img{
    width: 153px;
    height: 151px;
  }
}

@media (max-width: 720px) {
  .containt{
    width:320px;
  }
  .containt img:nth-of-type(1), .containt img:nth-of-type(15), .containt img:nth-of-type(7), .containt img:nth-of-type(9){
    width:100%;
    height: 100%;
  }
  .containt img{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 960px) {
  .container{
    width:720px;
  }
  .container .col-2{
    width:70%;
  }
  .container .col-4{
    width:30%;
  }
}

@media (max-width: 720px) {
  .container{
    width:320px;
  }
  .container .col-2{
    width:100%;
  }
  .container .col-4{
    width:100%;
  }
  .D_banner p{
    width:100%;
  }
}